/target/

# Eclipse and Maven
.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
# .settings : we need Eclipse settings for code formatter and clean-up rules
target
.cache
dependency-reduced-pom.xml

# Intellij
.idea
# Intellij recommends to share iml files, however, better don't share files which might be outdated
*.iml

# Extension
/extension/node_modules/
/extension/dist/
/extension/coverage/
/extension/src/extension-config.ts
/extension-test.properties

# Others
.DS_Store
*.swp
local
Scripts
.dbeaver*
**/*.log
.directory
venv/
pom.xml.versionsBackup
setEnv.sh

~*
*.lock
*.bak
*.orig
*.old
*.md.html
test_config.properties
deleteLambdaResources.sh
*.flattened-pom.xml
/.apt_generated/

